.about-box {
    display: flex;
    width: 90%;
    align-self: center;
    border
}

.about-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px 10px; 
    background-color: rgba(217, 202, 179, 0.5);
    width: 60%;
    border-radius: 20px 0px 0px 20px;
}

h2, h3, p {
    margin: 0px;
    padding: 20px;
}

.about-text h2, h3{
    font-size: 2em;
}

h3 {
    font-weight: 500;
}

.about-text p {
    font-size: 2em; 
}

.main-img-about {
    max-width: 40%;
    border-radius: 0px 20px 20px 0px;
    object-fit: cover;
}

.icons {
   padding-top: 50px; 
}

.icon {
    font-size: 2em;
    padding: 0px 20px;
}

.mystory-container {
    display: flex;
    align-self: center;
    justify-content: center;
    width: 90%; 
    background-color: #D9E7F4;
    padding: 40px 30px;
    margin-top: -20px; 
    border-radius: 10px;
}

.subscribe-box {
    display: flex;
    align-self: center;
    justify-content: space-evenly;
    width: 1000px;
    margin: 20px; 
    padding: 40px; 
    background-color: rgba(217, 202, 179, 0.5);
    border-radius: 20px;
}

.subscribe-img {
    width: 400px; 
    transform: rotate(5deg);
    align-self: flex-end;
    padding: 10px;
}

.subscribe-text {
    width: 400px; 
    height: 200px; 
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px; 
}

.subscribe-text h4 {
    font-family: "Indie-Flower";
    font-size: 2em;
    margin: 0;
}

.subscribe-text p {
    font-size: 1.5em;
    margin: 0; 
    padding: 0;
}

.subscribe-form fieldset {
    border: none; 
}

.subscribe-box .btn {
    width: fit-content;
}

@media (max-width: 1200px) {
    .about-text {
        width: 40%;
    }

    .main-img-about {
        max-width: 60%;
    }

    .subscribe-box {
        width: 90%;
    }
}

@media (max-width: 1000px) {
    .about-box {
        flex-direction: column-reverse;
    }

    .main-img-about {
        max-width: 100%;
        align-self: center;
        border-radius: 20px 20px 0px 0px;
    }

    .about-text {
        width: 100%;
        border-radius: 0px 0px 20px 20px; 
        padding: 0;
        padding-bottom: 30px;  
    }

    .mystory-container {
        flex-direction: column;
    }

    .carousel__slide {
        width: 100%; 
        height: 420px; 
        margin: 30px 10px;
    }

    .carousel__img {
        height: 400px; 
    }

    .subscribe-box {
        flex-direction:column-reverse;
        align-items: center;
        justify-content: center;
        height: fit-content;
        padding-bottom: 100px; 
    }

    .subscribe-img {
        transform: rotate(0);
        align-self: center;
        width: 90%;
    
    }
    
}

@media (max-width: 600px) {
    .about-text {
        font-size: 0.8em;
    }

    .carousel__slide {
        margin: 20px 0px;
    }
}

@media (max-width: 500px) {

    .subscribe-box {
        padding: 20px 20px 100px 20px;
    }
    .subscribe-text {
        width: 100%;
    }
}

@media (max-width: 300px) {
    .subscribe-box {
        padding-bottom: 160px;
    }
}