.about-box {
    display: flex;
    width: 90%;
    align-self: center;
}

.about-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px 10px; 
    background-color: #4E937A;
    width: 60%;
    border-radius: 20px 0px 0px 20px;
}

h2, p {
    margin: 0px;
    padding: 20px;
}

.about-text h2 {
    font-size: 2em;
}

.about-text p {
    font-size: 2em; 
}

.main-img-about {
    max-width: 40%;
    border-radius: 0px 20px 20px 0px;
    object-fit: cover;
}

.icons {
   padding-top: 50px; 
}

.icon {
    font-size: 2em;
    padding: 0px 20px;
}

.subscribe-box {
    background-color: #4E937A;
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 90%;
}

h4 {
    font-family: "Indie-Flower";
    font-size: 2em;
    padding: 20px 0px 0px 20px;
    margin: 0;
}

.subscribe-text {
    font-size: 1.5em;
}

.subscribe-btn {
    background-color: #B4656F;
    border: none;
    font-family: "Indie-Flower";
    font-size: 1.5em;
    font-weight: 600;
    width: fit-content;
    padding: 10px;
    margin: 20px;
}

@media (max-width: 1200px) {
    .about-text {
        width: 40%;
    }

    .main-img-about {
        max-width: 60%;
    }
}

@media (max-width: 1000px) {
    .about-box {
        flex-direction: column-reverse;
    }

    .main-img-about {
        max-width: 100%;
        align-self: center;
        border-radius: 20px 20px 0px 0px;
    }

    .about-text {
        width: 100%;
        border-radius: 0px 0px 20px 20px; 
        padding: 0;
        padding-bottom: 30px;  
    }

    .carousel__track {
        flex-direction: column;
    }

    .carousel__slide {
        width: 100%; 
        height: 420px; 
    }

    .carousel__img {
        height: 400px; 
    }
}

@media (max-width: 600px) {
    .about-text {
        font-size: 0.8em;
    }
}