.main-top {
    display: flex;
    align-self: flex-end;
    margin-top: -65px;
}

.blog-head {
    font-family: "Indie-Flower";
    font-size: 2.3em;
    padding: 0px;
    margin: 10px 30px;
    align-self: center;
    position: relative;
}

.blog-head:after {
    content:"";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 3px;
    width: 150px;
    border-radius: 2px;
    background-color: rgba(217, 202, 179);
}

.cta-btn {
    background-color: #BFD1E5;
    border-radius: 3px;
    font-family: "Indie-Flower";
    width: fit-content;
    border: none;
    margin: 10px; 
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease;
    cursor: pointer;
    font-size: 1.5em;
    align-self: center;
}

.blog__container {
    display: flex;
    flex-wrap: wrap;
    width: 100%; 
    align-self: center;
    justify-content: center;
}

.blog-min {
    margin: 10px;
    padding: 10px; 
    width: 45%;
    cursor: pointer; 
    position: relative;
}

.title-min {
    font-size: 1.5em;
    background-color: #BFD1E5;
    padding: 10px;
    margin: 0px; 
    align-self: center;
    border-radius: 10px 10px 0px 0px;
}



.blog__img-min {
    width: 100%; 
    height: 250px;
    padding: 0;
    margin: 0;
}

.cta-btn:hover {
    font-weight: 600;
}



@media (max-width: 1000px) {
    .blog-head {
        margin: 10px 40px;
    }

    .main-top {
        align-self: flex-start;
        margin-top: 0px;
        padding: 10px;
        margin: 0px 30px;
    }

    .blog-min {
        width: 45%;
        padding:0;
    }

    .title-min {
        font-size: 1em;
    }
}

@media (max-width: 900px) {
    .blog-head:after {
        display: none;
    }

    
    .blog-min {
        width: 90%;
        margin: 0; 
        align-self: center;
    }

    .blog-min {
        margin: 10px 0px; 
    }
}

@media (max-width: 800px) {
    .blog-head {
        font-size: 2em;
        margin: 10px;
    }

    .main-top {
        margin: 0px;
    }

    .blog-min {
        width: 100%;
    }

}

@media (max-width: 600px) {
    main {
        padding: 0px 40px;
    }

    .main-top {
        flex-wrap: wrap;
        margin-top: 0px;
        padding: 10px;
        margin: 0px;
    }

    .blog__img-min {
        height: 400px;
    }
}

@media (max-width: 400px) {
    main {
        padding: 0px 20px;
    }
}