main {
    padding: 0px 70px;
}

.main-top {
    display: flex;
    align-self: flex-end;
    margin-top: -80px;
}

.blog-head {
    font-family: "Indie-Flower";
    font-size: 1.8em;
    padding: 10px;
    align-self: flex-start;
}

.categories-btn {
    background-color: #D9E7F4;
    width: fit-content;
    border: none;
    margin: 10px; 
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease;
    cursor: pointer;
    font-size: 1em;
    align-self: center;
}

.blog__container {
    display: flex;
    flex-wrap: wrap;
    width: 100%; 
    align-self: center;
    justify-content: center;
}

.blog-min {
    margin: 10px;
    padding: 10px; 
    width: 28%;
    cursor: pointer; 
}

.blog-title {
    font-size: 1em;
    background-color: #D9E7F4;
    width: 100%;
    padding: 0;
    margin: 0; 
    align-self: center;
}
