.box {
    background-color: #D9E7F4;
}

.heading-circle {
    background-color: #D9E7F4;
}

.slider-box{
    display: flex;
    justify-content: center;
    position: relative;
}
.carousel__track {
    align-self: center; 
    width: 90%; 
    display: grid;
    grid-column: 2;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0; 
    white-space: nowrap;
}

.carousel__track::-webkit-scrollbar {
    display: none;
}

.carousel__slide {
    width: 90%;
    padding: 20px; 
    align-self: center; 
}

.slider-img {
    width: auto;
    height: 250px;
    object-fit: contain;
}

.carousel__button--left {
    width: fit-content;
    position: absolute;
    top: 60%; 
    left: 2%; 
}

.carousel__button--right {
    position: absolute;
    top: 60%; 
    right: 2%; 
    align-self: center;
   
    z-index: 999;
    width: fit-content;
}