.slider-box{
    display: grid;
    grid-template-columns: auto 1fr auto; 
    grid-template-rows: auto;
}
.carousel__track { 
    display: grid;
    grid-column: 1;
    grid-auto-flow: column;
    grid-auto-columns: calc((90% / 3) - 12px);
    gap: 16px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    white-space: nowrap;
}

.carousel__slide {
    width: 90%;
    padding: 20px; 
    align-self: center; 
}

.slider-img {
    width: auto;
    height: 250px;
    object-fit: contain;
}

.carousel__button--left {
    grid-column: 1;
    width: fit-content;
}

.carousel__button--right {
    grid-column: 3;
    align-self: center;
    justify-content: flex-end;
    z-index: 999;
    width: fit-content;
}