main {
    padding: 0px 70px;
    display: flex;
    flex-direction: column;
}

.header-text {
    margin: 0px 10px;
}

.header-text h2 {
    text-transform: uppercase;
    font-size: 2em;
}

.header-text p {
    font-size: 1.2em;
    font-weight: 500;
}

.contact-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-box {
    border: none;
    font-family: "Livvic";
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 0px 0px;
}

label {
    padding: 2px 5px;
}

input {
    margin-bottom: 10px; 
    width: 600px;
}

.message-box {
    height: 200px;
}

.cta-btn {
    width: 200px;
    margin-left: 5px;
}

.contact__img {
    width: 40%; 
    height: auto;
    object-fit: cover;
    padding: 20px; 
    border-radius: 50px;
}

@media (max-width: 1200px)  {
    input {
        width: 100%; 
    }
}

@media (max-width: 800px) {
    .contact-section {
        flex-direction: column;
    }
    .contact__img {
        width: 100%; 
    }

    
}