main {
    display: flex;
    flex-direction: column;
    padding: 0; 
}

.main-img {
    width: 100%;
    border-radius: 20px;
    margin-top: 20px;
}

.background-box {
    position: absolute;
    background-color: rgba(217, 202, 179, 0.8);
    bottom: 50px; 
    right: 100px; 
    border-radius: 20px;
    margin-top: 20px;
    padding: 10px 10px;
    width: 500px;
}

h2 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5em;
}

.welcome-text {
    font-size: 1em;
    font-weight: 600;
    padding-top: 0px;
}

.relative {
    position: relative;
    margin-bottom: 0px;
    padding: 0px 70px;
}


@media (max-width: 1200px) {
    .background-box {
        bottom: 30px; 
        width: 320px;
    }
}

@media (max-width: 1000px) {
    .background-box {
        width: 300px;
    }
}


@media (max-width: 900px) {
    .relative {
        position: static;
        display: flex;
        flex-direction: column;
        margin-bottom: 0px;
        padding: 0px 70px;
    }

    .background-box {
        position: static;
        margin-top: 20px;
        text-align: center;
        width: fit-content;
    }

}

@media (max-width: 600px) {
    .relative {
        padding: 0px 10px;
    }
}