.blog-post__container {
    display: flex;
    flex-direction: column;
    padding: 0px 70px; 
}

.post__title {
    font-family: "Livvic";
    text-transform: uppercase;
    font-size: 2em; 
    padding: 20px;
}

.post__date {
    align-self: flex-end;
    padding: 20px;
    margin-top: -100px;
}

.post__image {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.post__text {
    font-size: 1em;
    padding: 20px; 
}
